<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
	<Properties>
		<Property name="log-path">${env:LOG_PATH:-logs}</Property>
	</Properties>
	<Appenders>
		<Console name="console" target="SYSTEM_OUT">
			<JsonLayout compact="true" eventEol="true" properties="true"/>
		</Console>
		<RollingFile name="app" fileName="${log-path}/app.log"
                     filePattern="${log-path}/app-%d{yyyy-MM-dd}-%i.old.log"
                     ignoreExceptions="false">
			<JsonLayout compact="true" eventEol="true" properties="true"/>
			<Policies>
				<TimeBasedTriggeringPolicy interval="1" modulate="true"/>
				<SizeBasedTriggeringPolicy size="10000 KB"/>
			</Policies>
		</RollingFile>
	</Appenders>
	<Loggers>
		<Logger name="com.otis" level="DEBUG" additivity="false">
			<AppenderRef ref="app"/>
		</Logger>
		<Root level="INFO">
			<AppenderRef ref="console"/>
		</Root>
	</Loggers>
</Configuration>
